.my-button {
  border: 0;
  background-color: #5b5ea6;
}
.my-button:hover {
  background-color: #7d80b5;
  border: 0;
}

.my-button-dark {
  border: 0;
  background-color: #9b7ede;
}

.my-button-dark:hover {
  border: 0;
  background-color: #7d80b5;
}

.users-button:focus,
.users-button:active,
.users-button.active {
  outline: none;
  box-shadow: none;
  border: none;
}

.user {
  letter-spacing: 1px;
}

.my-button:hover .arrow,
.my-button-dark:hover .arrow {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  filter: brightness(1.2);
}

.load-button,
.load-button:disabled {
  border-color: #3c0b6b;
  color: #3c0b6b;
  background-color: #f8f9df;
}
.load-button:hover,
.load-button:disabled:hover {
  color: #f8f9df;
  background-color: #3c0b6b;
  border-color: #3c0b6b;
}

.load-button-dark,
.load-button-dark:disabled {
  border-color: #f8f9df;
  color: #f8f9df;
  background-color: #3c0b6b;
}
.load-button-dark:hover {
  color: #3c0b6b;
  border-color: #f8f9df;
  background-color: #f8f9df;
}
